{% extends 'writy/base.html' %} {% block content %}

<main class="container h-90">
  <div class="album p-4">
    {% if articles %}
    <div class="row">
      {% for article in articles %}
      <div class="col-md-4">
        <div class="card shadow-sm">
          <img
            style="height: 200px !important; object-fit: cover"
            src="{{base_url}}/media/{{ article.image }}"
          />
          <div class="card-body">
            <h2 class="title">{{ article.title | title }}</h2>
            <div class="text-end">
              <div class="btn-group">
                <a
                  href="{% url 'article' article.slug %}"
                  class="btn btn-sm btn-outline-secondary fw-bold"
                >
                  Read more..
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %} {% else %}
      <div class="text-center">
        <h1>Oops!</h1>
        <p>We could not find any articles for you to read {{ article.topic }}</p>
      </div>
 
    </div>
    {% endif %}
  </div>
</main>

{% endblock %}
