{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Tales-World-Wide</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/css/splide.min.css" />
  <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet" />
  <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>
  <link rel="stylesheet" href="{% static 'css/style.css' %}" />
</head>

<body>
  <nav class="navbar navbar-expand-lg dark_bg fixed-top mb-3">
    <div class="container">
      <a class="navbar-brand text-white" href="{% url 'home' %}" style="text-decoration: none">TalesWorldWide</a>
      <span class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="bi bi-list text-white"></i>
      </span>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mb-2 mb-lg-0 justify-content-center text-center">
          {% for category in categories %}
          <li class="nav-item">
            <a class="nav-link active text-white" style="text-decoration: none"
              href="{{base_url}}/topics/{{ category.slug }}">{{ category.title }}</a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </nav>
  <div class="pt-5">
    {% block content %} {% endblock %}
  </div>
  <footer class="dark_bg footer pb-3">
    <div class="">
      <div class="container">
        <div class="row g-5">
          <div class="col-lg-4 col-sm-12">
            <h5 class="footer-heading">Company</h5>
            <ul class="footer-links list-unstyled">
              <li>
                <a href="{{ base_url}}" class="text-white">Contact Us</a>
              </li>
              <li>
                <a href="{{ base_url}}" class="text-white">Careers</a>
              </li>

              <li>
                <a href="{{ base_url}}" class="text-white">Around the World</a>
              </li>

              <li>
                <a href="{{ base_url}}" class="text-white">Advertise With Us</a>
              </li>
              <li>
                <a href="{{ base_url}}" class="text-white">Media Relations</a>
              </li>
            </ul>
          </div>
          <div class="col-lg-4 col-sm-12">
            <h5 class="footer-heading">Other</h5>
            <ul class="footer-links list-unstyled">
              <li>
                <a href="{{ base_url}}" class="text-white">Newsletters</a>
              </li>
              <li>
                <a href="{{ base_url}}" class="text-white">Podcasts</a>
              </li>
              <li>
                <a href="{{ base_url}}" class="text-white">Privacy Policy</a>
              </li>
              <li>
                <a href="{{ base_url}}" class="text-white">Help</a>
              </li>
              <li>
                <a href="{{ base_url}}" class="text-white">Corporate Information</a>
              </li>
            </ul>
          </div>
          <div class="col-lg-4 col-sm-12">
            <h5 class="footer-heading">Connect With Us</h5>
            <ul class="footer-links list-unstyled">
              <li>
                <a href="#" class="twitter text-white">On Twitter <i class="bi bi-twitter xl"></i></a>
              </li>

              <li>
                <a href="https://web.facebook.com/profile.php?id=61553636933691" target="_blank"
                  class="facebook text-white">On Facebook <i class="bi bi-facebook"></i></a>
              </li>
              <li>
                <a href="#" class="instagram text-white">On Instagram <i class="bi bi-instagram"></i></a>
              </li>
              <li>
                <a href="https://www.linkedin.com/company/taleswildwide/" target="_blank" class="linkedin text-white">On
                  LinkedIn <i class="bi bi-linkedin"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <script>
    $("#summernote").summernote({
      placeholder: "start writing...",
      tabsize: 2,
      height: 120,
      toolbar: [
        ["style", ["style"]],
        ["font", ["bold", "underline", "clear"]],
        ["color", ["color"]],
        ["para", ["ul", "ol", "paragraph"]],
        ["table", ["table"]],
        ["insert", ["link", "picture", "video"]],
        ["view", ["fullscreen", "codeview", "help"]],
      ],
    });
  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</body>

</html>