{% extends 'writy/base.html' %} {% block content %}
<style>
  .home_page_image {
    width: 100%;
    height: 172px;
    background-size: cover;
    background-position: center;
  }
</style>

<div class="">
  <main class="container mx-auto">
    {% if message %}
    <div class="alert alert-success text-center">
      <span class="title">{{ message }} &#128513; </span>
    </div>
    {% endif %}
    <div class="row pt-4 pb-3">
      <div class="col-lg-9 col-md-12 col-sm-12">
        <div class="marketing">
          {% if articles %} {% for article in articles %}
          <div class="row p-2">
            <div class="col-md-8 col-lg-8">
              <small> <b>{{ article.topic| upper }}</b></small>
              <br>
              <h2 class="featurette-heading fw-normal lh-1">
                <a href="{% url 'article' article.slug %} " class="text-black">{{ article.title }}</a>
              </h2>
            </div>
            <div class="col-md-4  col-lg-4">
              <img src="{{base_url}}/media/{{ article.image }}" alt="{{ highlight.title }}" class="home_page_image" />
            </div>
          </div>
          {% endfor %} {% endif %}
        </div>
      </div>
    </div>
  </main>
</div>
{% endblock %}