{% extends 'worldjungletales/backoffice/base.html' %} {% block content %}
<div class="container-fluid">
  <div class="">
    <main class="">
      <div class="container">
        {% if form.errors %}
        <div class="alert alert-danger">
          <span class="title">{{ form.errors }} </span>
        </div>
        {% endif %} {% if success %}
        <div class="alert alert-success text-center">
          <span class="title"
            >{{ success }}
            <a href="{% url 'articles' user.id %}" class="fw-bold"
              ><i class="bi bi-arrow-right-square"></i></a
          ></span>
        </div>
        {% endif %}
      </div>
      <div class="text-center">
        <h3 class="title">You are editing an article</h3>
        <form
          action="{% url 'article_edit' article.id %}"
          method="POST"
          enctype="multipart/form-data"
        >
          {% csrf_token %}

          <div class="form-group">
            <label class="form-label">Article Title</label>
            <input
              type="text"
              class="form-control"
              id="floatingInput"
              name="title"
              value="{{ article.title }}"
            />
          </div>
          <br />
          <div class="row">
            <div class="col">
              <div class="form-group">
                <label class="form-label">Article cover</label>
                <input
                  type="file"
                  class="form-control"
                  id="image"
                  name="image"
                  value="{{ article.image }}"
                />
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label class="form-label">Article Topic</label>
                <select
                  name="topic"
                  class="form-control"
                  value="{{ article.topic }}"
                >
                  {% if article.topic %}
                  <option value="{{ article.topic }}">
                    {{ article.topic }}
                  </option>
                  {% else %}
                  <option value="">--Select Topic-</option>
                  {% endif %} {% for topic in topics %}
                  <option value="{{ topic.id }}">
                    {{ topic.title }}
                  </option>
                  {% endfor %}
                </select>
              </div>
            </div>
          </div>

          <br />
          <textarea
            name="content"
            id="summernote"
            cols="30"
            rows="10"
            class="form-control"
            value="{{ article.content }}"
          ></textarea>
          <div class="alert alert-info">
            <span class="text-info">
              Its even better to draft on a PC <i class="bi bi-check"></i
            ></span>
          </div>
          <br />
          <button class="w-100 btn b_btn" type="submit">SAVE EDIT</button>
        </form>
      </div>
    </main>
  </div>
  <br />
</div>

{% endblock %}
