{% extends 'worldjungletales/backoffice/base.html' %} {% block content %}
<main class="">
  <div class="container">
    {% if form.errors %}
    <div class="alert alert-danger">
      <span class="title">{{ form.errors }} </span>
    </div>
    {% endif %} {% if success %}
    <div class="alert alert-success text-center">
      <span class="title"
        >{{ success }}
        <a href="{% url 'drafts' %}" class="fw-bold"
          ><i class="bi bi-arrow-right-square"></i></a
      ></span>
    </div>
    {% endif %}
  </div>
  <div class="text-center">
    <h3 >Draft now and publish when you you like</h3>
    <form action="" method="POST" enctype="multipart/form-data">
      {% csrf_token %}

      <div class="form-group">
        <label class="form-label" for="title">Article Title</label>
        <input
          type="text"
          id="title"
          class="form-control"
          name="title"
          value="{{ form.title.value }}"
          required
        />
      </div>
      <br />
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label class="form-label" for="image_url">Article cover</label>
            <input
              type="file"
              class="form-control"
              id="image_url"
              name="image_url"
              value="{{ form.image.value }}"
            />
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label class="form-label" for="topic">Article Topic</label>
            <select name="topic" class="form-control" id="topic" required>
              <option value="">--Select Topic-</option>
              {% for topic in topics %}
              <option value="{{ topic.id }}">{{ topic.title }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
      </div>
      <br />
      <textarea
        name="content"
        id="summernote"
        cols="30"
        rows="10"
        class="form-control"
      ></textarea>
      <br>
      <button class="w-100 btn btn-success" type="submit">SAVE</button>
    </form>
  </div>
</main>

{% endblock %}
