{% extends 'worldjungletales/blog/base.html' %} {% block content %}


<div class="container">
    <h1 class="text-center">About Us</h1>
    <section>
        <h2>🌍 Our Mission</h2>
        <p>At <strong>World Jungle Tales</strong>, our mission is to celebrate the rich tapestry of global cultures
            through storytelling. We aim to bridge communities by sharing tales that inspire, educate, and entertain,
            fostering a deeper understanding and appreciation of the world's diverse wildlife and conservation efforts.
        </p>
    </section>

    <section>
        <h2>📖 Our Story</h2>
        <p>Founded in 2025, World Jungle Tales emerged from a passion for uncovering and sharing the world's hidden
            narratives. Recognizing the power of stories to connect people across continents, we embarked on a journey
            to curate and present tales that might otherwise remain unheard.</p>
    </section>

    <section>
        <h2>🧭 Our Values</h2>
        <ul>
            <li><strong>Authenticity</strong>: We prioritize genuine voices and strive to present stories in their
                truest form.</li>
            <li><strong>Inclusivity</strong>: Our platform welcomes tales from all cultures, backgrounds, and
                perspectives.</li>
            <li><strong>Education</strong>: We believe in the power of stories to enlighten and inform.</li>
            <li><strong>Community</strong>: Building connections through shared narratives is at the heart of what we
                do.</li>
        </ul>
    </section>

    <section>
        <h2>🌐 Join Our Journey</h2>
        <p>We invite you to explore the myriad of stories that the world has to offer. Whether you're a reader seeking
            new adventures or a storyteller eager to share your tale, World Jungle Tales is your gateway to a universe
            of narratives.</p>
        <p>Together, let's celebrate the stories that make our world wonderfully diverse.</p>

        <div class="text-center mb-3">
            <p>Support our website and work </p>
            <script type="text/javascript" src="https://cdnjs.buymeacoffee.com/1.0.0/button.prod.min.js"
                data-name="bmc-button" data-slug="worldjungletales" data-color="#40DCA5" data-emoji="🐻"
                data-font="Comic" data-text="Buy me a coffee" data-outline-color="#000000" data-font-color="#ffffff"
                data-coffee-color="#FFDD00"></script>
        </div>

    </section>
</div>
{% endblock %}
